.caption {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.caption.fullscreen {
  font-size: 20px;
  bottom: 5%;
  max-width: 80%;
}
